header {
    /*for some reason, the margins got all fucked up when i looked at the page in chrome*/
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    margin: 0 auto;
    display: inline;
    padding: 10px 0px 0px 38px;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
}

body {
    background-image: url('..//images/white-waves.png')
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    padding: 25px 25px 25px 25px;
    margin-bottom: 0px;
    margin-left: 181px;
    font-size: 24px;
}

h2 {
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    padding: 15px 0px 15px 0px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
}

h3 {
    background-color: #4aaaa5;
    color: #ffffff;
    margin-top: 150px;
    padding: 5px;
}
.nav {
    float: right;
    display: inline;
    margin-right: 250px;
    margin-top: 50px;
    position: relative;
    bottom: 20px;
}

a {
    display: inline;
    padding: 8px;
    color: #777777;
    text-decoration: none;
}

img {
    float: left;
    margin: 20px 10px 0px 0px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-top: 20px;
}

footer {
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    color: #777777;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

input {
    width: 958px;
    line-height: 1.5;
}

textarea {
    width: 958px;
    height: 140px;
    border: 1px solid #dddddd;
}

.content {
    border: 1px solid #dddddd;
    width: 960px;
    margin: 140px auto 80px auto;
    padding: 0px 20px 20px 20px;
    line-height: 1.5;
    background-color: white;
    overflow: auto;
}

#submit {
    width: 80px;
    height: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border: none;
    margin-top: 5px;
}

.abox {
    float: left;
    background-image: url("../images/lightblur.jpg");
    height: 200px;
    width: 220px;
    text-align: center;
    margin: 0px 15px 20px 0px;
}

.bbox {
    float: left;
    background-image: url("../images/wetpaint.jpg");
    height: 200px;
    width: 220px;
    text-align: center;
    margin: 0px 0px 20px 15px;
}

.cbox {
    float: left;
    background-image: url("../images/colorclouds.jpg");
    height: 200px;
    width: 220px;
    text-align: center;
    margin: 20px 15px 20px 0px;
}

.dbox {
    float: left;
    background-image: url("../images/pattern.jpg");
    height: 200px;
    width: 220px;
    text-align: center;
    margin: 20px 0px 20px 15px;
}

.ebox {
    float: left;
    background-image: url("../images/abstract-q-c-200-200-7.jpg");
    height: 200px;
    width: 220px;
    text-align: center;
    margin: 20px 15px 0px 0px;
}